
html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4b7;
    margin: 0;
    padding: 0;
    height: 100%;
   
}

.container {
    background-color: darkgray;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    /* max-width: 800px; */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}
.centered-paragraph {
    text-align: center;     
    margin: 200px;  
         
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 150px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

button {
    padding: 10px 15px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.display-container {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    
}

#dogImage {
    border: 1px solid #ccc; 
    border-radius: 60px; 
    width: 300px;
    height: 300px;
    display: block; 
    margin: 0 auto; 
}

#purchaseButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 102, 255);
}


.carousel {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.carousel img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin: 0 5px; 
}





